version: "3.8"
services: 
    korzh_bot:
        build:
            context: .
            dockerfile: Dockerfile.dev
        env_file: .env
        ports: 
            - 8080:8080
        entrypoint: ['python', '-m', 'korzh_bot']
        volumes:
            - ./korzh_bot:/usr/src/app/korzh_bot
        expose: 
            - 8080
        networks:
            - ulnet

networks:
    ulnet:
        name: ul_network