version: "3.8"
services: 
    korzh_bot:
        container_name: "korzh_bot"
        build:
            context: .
            dockerfile: Dockerfile.dev
        env_file: korzh_bot/.env
        ports: 
            - 8080:8080
        entrypoint: ['python', 'main.py']